<html>
<head>
    <title>Edit Food</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style>
        .page-title {
            font-size: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn-wrapper {
            margin-top: 10px;
        }
        .btn-wrapper .btn {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div>
        <table border="1" cellpadding="5">
            <caption class="page-title">Edit Food:</caption>
            {% if data %}
                <thead>
                    <tr>
                        <th scope="col" data-field="regionID" data-filter-control="input">Region ID</th>
                        <th scope="col" data-field="name" data-filter-control="input">Name</th>
                        <th scope="col" data-field="price" data-filter-control="input">Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for food in data %}
                        <tr>
                            <td>{{ food.region_id }}</td>
                            <td>{{ food.name }}</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>

        <div id="edit">
            <form id="editFood" action="/edit_food/{{ food.food_id }}" method="post">
                <div class="form-group">
                    <label for="region_id">Region ID</label>
                    <input type="text" class="form-control" id="region_id" name="region_id" value="{{ food.region_id }}">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ food.food_name }}" readonly>
                </div>
                
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{ food.price }}">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="/foods" class="btn btn-primary">Cancel</a>
            </form>
            
        </div>
    </div>
</body>
</html>
