<!DOCTYPE html>
<html>
<head>
    <title>Edit Client</title>
</head>
<body>
    <h1>Clients</h1>

    <h2>Edit Client</h2>
    <form method="POST" action="{{ url_for('edit_client', client_id=client[0]) }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="region_id">Region id:</label>
        <input type="text" id="region_id" name="region_id" required>
        <br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <br>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <input type="submit" value="Edit Client">
    </form>


</body>
</html>