<!DOCTYPE html>
<html>
<head>
    <title>Inventories</title>
</head>
<body>

    <table border="1" cellpadding="5">
        <tr>
            <th><a href="/clients">Clients</a></th>
            <th><a href="/foods">Foods</a></th>
            <th><a href="/inventories">Inventories</a></th>
            <th><a href="/regions">Regions</a></th>
            <th><a href="/sales_history">Sales History</a></th>
            <th><a href="/sales_history_has_food">Sales History Has Food</a></th>
        </tr>
      </table>
    <h1>Inventories</h1>
    
    <!-- Display all inventories -->
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Inventory ID</th>
                <th>Client ID</th>
                <th>Food ID</th>
                <th>Item Count</th>
                <th>Units</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr>
                <td>{{ inventory[0] }}</td>
                <td>{{ inventory[1] }}</td>
                <td>{{ inventory[2] }}</td>
                <td>{{ inventory[3] }}</td>
                <td>{{ inventory[4] }}</td>

                <td>
                  <a href="{{ url_for('edit_inventory', inventory_id = inventory[0]) }}">Edit</a>
                	<a href="{{ url_for('delete_inventory', inventory_id = inventory[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Form for adding a new item to the inventory -->
    <h2>Add Inventory</h2>
    <form action="/inventories/add" method="POST">
        <label for="client_id">Client ID:</label>
        <input type="text" name="client_id" id="client_id" required>
        <label for="food_id">Food ID:</label>
        <input type="text" name="food_id" id="food_id" required>
        <label for="item_count">Item Count:</label>
        <input type="text" name="item_count" id="item_count" required>
        <label for="units">Units:</label>
        <input type="text" name="units" id="units" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>